@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important; 
  font-family: '29LT Bukra', sans-serif !important;
  background-color: #eee;
}
.container{
  width: 80%;
  margin: auto;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .some-element {
    width: 100%;
    padding: 0;
  }
}

@font-face {
    font-family: '29LT Bukra';
    src: url('/public/fonts/29ltbukrabold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: '29LT Bukra';
    src: url('/public/fonts/29ltbukralight.ttf') format('truetype');
    font-weight: lighter;
  }
  
  @font-face {
    font-family: '29LT Bukra';
    src: url('/public/fonts/29ltbukraregular.ttf') format('truetype');
    font-weight: normal;
  }
  p * {
    font-family: '29LT Bukra', sans-serif !important;
  }